body {
 background-image: url(image/2025-12-09_03.03.24.png);
}


 h1 {
    color: white;
   
 }
#container {
        display: flex;
    flex-wrap: wrap;
   
}


.gif {
   max-height: 240px;
    max-width: 450px;
    margin-left: 0px;
}

p {
    width: 100ch;
    color: white;
    margin-left: 200PX;
}



.container {
    width: 450px;
}

